.row
	.span12

		%h2 
			=t :contact
		%h4
			
			
		%h4
			=t :reasons_mail
			%a
				= mail_to "wedding@betteley.me", "wedding@betteley.me", :subject => "#{t :email_subject}", :target => '_blank' 
		%h4
			=t :reasons_phone
		%h4
			Janaina - +447523529229
		%h4
			Keiran - +447885997874
    