.row
	.span5

		%h2
			= link_to "Horniman Museum", 'http://www.horniman.ac.uk/visit/displays/display/gardens/display-chapter/display-gardens', :target => "_blank"
		%h4 100 London Road
		%h4 Forest Hill
		%h4 London SE23 3PQ
		%iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.co.uk/?ie=UTF8&ll=51.441383,-0.060318&spn=0.00642,0.017853&t=h&z=16&output=embed", :width => "425"}
		%br/
		%small
		%a{:href => "https://maps.google.co.uk/?ie=UTF8&ll=51.441383,-0.060318&spn=0.00642,0.017853&t=h&z=16&source=embed", :style => "color:#0000FF;text-align:left"} View Larger Map
	.span5
		%h2
			= link_to "Hawksmoor Guildhall", 'http://www.hawksmoor.com/locations/guildhall', :target => "_blank"
		%h4 10 Basinghall St
		%h4 London
		%h4 EC2V 5BQ 

		%iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.co.uk/maps?ie=UTF8&q=hawksmoor+guildhall&fb=1&gl=uk&hq=hawksmoor+guildhall&hnear=0x487602509fe29647:0x92477cf7dc974730,London+SE4+1DJ&cid=0,0,12739422300206336268&t=h&ll=51.515286,-0.090895&spn=0.009347,0.018239&z=15&output=embed", :width => "425"}
		%br
		%small
		%a{:href => "https://maps.google.co.uk/maps?ie=UTF8&q=hawksmoor+guildhall&fb=1&gl=uk&hq=hawksmoor+guildhall&hnear=0x487602509fe29647:0x92477cf7dc974730,London+SE4+1DJ&cid=0,0,12739422300206336268&t=h&ll=51.515286,-0.090895&spn=0.009347,0.018239&z=15&source=embed", :style => "color:#0000FF;text-align:left"} View Larger Map