.container
  .container
    %h1 Miss Janaina Elaine De Paula Roque
    %h2 &
    %h1 Mr Keiran Francis Betteley

    %h2 Bid you a warm welcome to their wedding
  .container
    %br
    %h2= mail_to "wedding@betteley.me", "Send us a message"