<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/screen.css">
</head>
<body>
<div class="container">
	<h1>Welcome to the wedding site of

	<div class="container">
		<h1>Miss Janaina Elaine De Paula Roque</h1>
		<h2>&</h2>
		<h1>Mr Keiran Francis Betteley</h1>
	</div>
	<a href="The day" link
<!--
	<div class="container">	
	<div class="timeline.major">
		<span>2009</span>
	<div class="timeline.minor">
	</div>
		<h3>June</h3>
		<p>J and Keiran met
		</p>
	</div>
	<div class="timeslot even">
	<span>2012</span>
	<p>K asked J to marry him
	</p>
</div>
</div>
-->
</body>
<div class="container">
	</div>
<footer>
<img src="css/silhouette.png">
</footer>
</html>
