.container
  %br
  %h1
    Welcome to the wedding site of
  %br
  %br
  .container
    %h1 Miss Janaina Elaine De Paula Roque
    %h2 &
    %h1 Mr Keiran Francis Betteley

  .container
    %br
    %h2= mail_to "wedding@betteley.me", "Send us a message"