.row
	.span12

		%h2 
			=t :order
		%h4
			2:30pm - 
			=t :gather
			%a
				= link_to "Horniman Bandstand", directions_path
		%h4
			=t :vows_exchanged
		%h4
			=t :picnic_start
		%h4 
			5:30pm - 
			=t :all_aboard
			%a
				= link_to "#{t :wine_women}", directions_path
		%h4
			=t :kids_leave
		%h4 
			8:30pm - 
			=t :evening_arrive
		%h4 
			1:30am - 
			=t :all_over
		%br
		%h4 
			=t :cautionary_note
		%h5 
			=t :weather_warning1
		%h5
			=t :weather_warning2


    