.row
	.span12

		%h4 
			Order of the day:
		%h4
			2:30pm - Crowds, but pray not clouds, gather at the Horniman Bandstand
		%h4
			A little later: -  Our vows will be made and rings exchanged under the eyes of those we love
		%h4
			A little more later: - The bubbly shall burst forth in a frenzy of champagne picnickery
		%h4 
			5:30pm - All aboard our trusty steeds in search of wine, sustenance and song
			With regret, we must bid adieu to our younger guests at this juncture

		%h4 
			8:30pm - latecomers and laggards may laugh at the lurid libels that lurk in the best men’s speech

		%h4 
			1:30am - Alas, time, our old enemy, must vanquish us once more...

		%h4 
			A cautionary note: 
		%h4 
			Our bandstand is in the great outdoors. In April... In England... 
		%h4 
			Preparation is virtuous. Prayers for clement weather much appreciated


    