.row
	.span12

		%h2 
			=t :photos
		%br
		%h4
			=t :photos_desc
		%h3
			%a
				= link_to "#{t :photos_title}", "http://thephotoemporium.smugmug.com/Weddings/Janaina-and-Kieran/29417576_52CDTP#!i=2511676885&k=sG5RBpH"
		%h4
			=t :photos_pass
		
				