.navbar-inner{
  background-color:#050505;
  background-image:-moz-linear-gradient(top, #080808, #000000);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#080808), to(#000000));
  background-image:-webkit-linear-gradient(top, #080808, #000000);
  background-image:-o-linear-gradient(top, #080808, #000000);
  background-image:linear-gradient(to bottom, #080808, #000000);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff000000', GradientType=0);
  color: #FEFFF1;
}
.navbar .brand{
  color:#FEFFF1;
}

body {
  background-color: transparent;
  color: #333;
  font-family: handserif, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: handserif, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.nav a{
  color: #FEFFF1;
  &:hover {
  color: #fff; 
  }
}

a {
  color: #000;
  &:visited {
  
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 16px;
    list-style: square;
  }
}

